{% extends "base.html" %}
{% block content %}
<section id="experience" class="section bg-light">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rcZHIUjJ-KE?si=gm4op8p_o4Y4Xjmg"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>

<section class="section">
    <h2 class="section-title">My Resume</h2>

    <div class="pdf-container">
        <embed src="{{ url_for('static', filename='resume.pdf') }}#view=FitH&toolbar=0" type="application/pdf" />
        <div class="pdf-actions">
            <a href="{{ url_for('static', filename='resume.pdf') }}" download class="btn">
                Download Resume (PDF)
            </a>
        </div>
    </div>
</section>

{% endblock %}